1. Reverse a String

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
s = "hello"
print(reverse_string(s))

olleh

2. Count the Number of Vowels in a String

In [ ]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

# Example usage
s = "hello world"
print(count_vowels(s))

3

3. Check if a String is a Palindrome

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

# Example usage
s = "radar"
print(is_palindrome(s))

True

4. Check if Two Strings are Anagrams

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

# Example usage
s1 = "listen"
s2 = "silent"
print(are_anagrams(s1, s2))

True

5. Find All Occurrences of a Substring

In [ ]:
def find_substring_occurrences(s, sub):
    start = 0
    while True:
        start = s.find(sub, start)
        if start == -1: return
        yield start
        start += 1

# Example usage
s = "hello world, hello universe"
sub = "hello"
print(list(find_substring_occurrences(s, sub)))

[0, 13]

6. Basic String Compression

In [ ]:
def compress_string(string):
    compressed_string = ""
    count_consecutive = 0

    for i in range(len(string)):
        count_consecutive += 1
        if (i + 1 >= len(string)) or (string[i] != string[i + 1]):
            compressed_string += string[i] + str(count_consecutive)
            count_consecutive = 0

    if len(compressed_string) < len(string):
        return compressed_string
    else:
        return string

# Test the function
input_string = input("Enter a string to compress: ")
compressed_result = compress_string(input_string)
print("Compressed string:", compressed_result)

Enter a string to compress: aaabbccccdd
Compressed string: a3b2c4d2

7. Determine if a String has All Unique Characters

In [ ]:
def has_all_unique_chars(s):
    return len(s) == len(set(s))

# Example usage
s = "unique"
print(has_all_unique_chars(s))

False

8. Convert a String to Uppercase or Lowercase

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

# Example usage for uppercase
s = "hello"
print(convert_case(s, to_upper=True))

# Example usage for lowercase
print(convert_case(s, to_upper=False))

HELLO
hello

9. Count the Number of Words in a String

In [ ]:
def count_words(s):
    return len(s.split())

# Example usage
s = "hello world"
print(count_words(s))

2

10. Concatenate Two Strings Without Using the + Operator

In [ ]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

# Example usage
s1 = "hello"
s2 = "world"
print(concatenate_strings(s1, s2))

helloworld

11. Remove All Occurrences of a Specific Element from a List

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
lst = [1, 2, 3, 4, 2, 2, 5]
element = 2
print(remove_element(lst, element))

[1, 3, 4, 5]

12. Find the Second Largest Number in a List

In [ ]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    return unique_numbers[-2]

# Example usage
numbers = [1, 3, 4, 5, 0, 3, 4]
print(second_largest(numbers))

4

13. Count Occurrences of Each Element in a List

In [ ]:
def count_occurrences(lst):
    return {x: lst.count(x) for x in set(lst)}

# Example usage
lst = ['apple', 'banana', 'apple', 'orange']
print(count_occurrences(lst))

{'apple': 2, 'banana': 1, 'orange': 1}

14. Reverse a List In-Place

In [ ]:
def reverse_list_in_place(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left, right = left + 1, right - 1
    return lst

# Example usage
lst = [1, 2, 3, 4, 5]
print(reverse_list_in_place(lst))

[5, 4, 3, 2, 1]

15. Remove Duplicates from a List While Preserving Order

In [ ]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage
lst = [1, 2, 2, 3, 4, 3, 5]
print(remove_duplicates(lst))

[1, 2, 3, 4, 5]

16. Check if a List is Sorted

In [ ]:
def is_sorted(lst):
    return all(lst[i] <= lst[i+1] for i in range(len(lst) - 1))

# Example usage
lst = [1, 2, 2, 3, 4, 5]
print(is_sorted(lst))

True

17. Merge Two Sorted Lists

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example usage
lst1 = [1, 3, 5]
lst2 = [2, 4, 6]
print(merge_sorted_lists(lst1, lst2))

[1, 2, 3, 4, 5, 6]

18. Find the Intersection of Two Lists

In [ ]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Example usage
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(intersection(lst1, lst2))

[3, 4]

19. Find the Union of Two Lists Without Duplicates

In [ ]:
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))

# Example usage
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(union(lst1, lst2))

[1, 2, 3, 4, 5, 6]

20. Shuffle a List Randomly Without Using Built-in Shuffle Functions

In [ ]:
import random

def shuffle_list(lst):
    n = len(lst)
    for i in range(n-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# Example usage
lst = [1, 2, 3, 4, 5]
print(shuffle_list(lst))

[3, 2, 5, 4, 1]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
print(common_elements(tuple1, tuple2))

(3, 4)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [ ]:
def intersection_of_sets():
    set1 = set(map(int, input("Enter first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter second set of integers separated by commas: ").split(',')))
    print("Intersection of sets:", set1 & set2)

# Example usage
intersection_of_sets()

Enter first set of integers separated by commas: 1, 2, 3, 4, 5
Enter second set of integers separated by commas: 4, 5, 6, 7, 8
Intersection of sets: {4, 5}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [ ]:
def difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    print("Elements in first set but not in second:", set1 - set2)

# Example usage
difference_of_sets()

Enter first set of strings separated by commas: apple, banana, orange, mango
Enter second set of strings separated by commas: banana, mango, kiwi
Elements in first set but not in second: {'apple', ' banana', ' orange'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
def slice_tuple(input_tuple, start, end):
    return input_tuple[start:end+1]

# Example usage
input_tuple = (0, 1, 2, 3, 4, 5)
start, end = 1, 3
print(slice_tuple(input_tuple, start, end))

(1, 2, 3)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
def union_of_sets():
    set1 = set(input("Enter first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter second set of characters separated by commas: ").split(','))
    print("Union of sets:", set1.union(set2))

# Example usage
union_of_sets()

Enter first set of characters separated by commas: a, b, c, d
Enter second set of characters separated by commas: c, d, e, f
Union of sets: {' f', ' d', ' b', ' e', 'c', 'a', ' c'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
def max_min_tuple(input_tuple):
    return max(input_tuple), min(input_tuple)

# Example usage
input_tuple = (10, 20, 30, 40, 50)
print(max_min_tuple(input_tuple))

(50, 10)

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [ ]:
def set_operations(set1, set2):
    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference:", set1 - set2)

# Example usage
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set_operations(set1, set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [ ]:
def count_element_in_tuple(input_tuple, element):
    return input_tuple.count(element)

# Example usage
input_tuple = (1, 2, 3, 4, 3, 2, 1)
element = 3
print(count_element_in_tuple(input_tuple, element))

2

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [ ]:
def symmetric_difference_of_sets():
    set1 = set(input("Enter first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter second set of strings separated by commas: ").split(','))
    print("Symmetric difference of sets:", set1 ^ set2)

# Example usage
symmetric_difference_of_sets()

Enter first set of strings separated by commas: apple, banana, orange, mango
Enter second set of strings separated by commas: banana, mango, kiwi
Symmetric difference of sets: {'banana', ' kiwi', 'apple', ' banana', ' orange'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [ ]:
def word_frequencies(word_list):
    return {word: word_list.count(word) for word in set(word_list)}

# Example usage
word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(word_frequencies(word_list))

{'apple': 3, 'banana': 2, 'orange': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict

# Example usage
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
print(merge_dictionaries(dict1, dict2))

{'a': 1, 'b': 5, 'c': 4}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [ ]:
def access_nested_dict(nested_dict, keys):
    current_level = nested_dict
    for key in keys:
        if key in current_level:
            current_level = current_level[key]
        else:
            return None
    return current_level

# Example usage
nested_dict = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
print(access_nested_dict(nested_dict, keys))

d

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [ ]:
def sort_dict_by_values(input_dict, ascending=True):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))

# Example usage
input_dict = {'a': 3, 'b': 1, 'c': 2}
print(sort_dict_by_values(input_dict, ascending=False))

{'a': 3, 'c': 2, 'b': 1}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [ ]:
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        inverted_dict.setdefault(value, []).append(key)
    return inverted_dict

# Example usage
input_dict = {'a': 1, 'b': 1, 'c': 2}
print(invert_dictionary(input_dict))

{1: ['a', 'b'], 2: ['c']}